<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.biz_inventory.dao.BizInventoryMapper">
    <update id="deduct">
        update biz_inventory
        set qty = qty - #{qty}, qtyOnHold = qtyOnHold + #{qty},
            editWho = #{editWho}, editTime = now()
        where invId = #{invId}
    </update>
</mapper>